---
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import Content from "~/components/widgets/Content.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";

const metadata = {
  title: "AstroWind — Free template for creating websites with Astro + Tailwind CSS",
  ignoreTitleTemplate: true,
};

import { getImage } from "astro:assets";
const Brainlogic = await getImage({
  src: "https://raw.githubusercontent.com/algonacci/Free-CDN/main/braincore.png",
  format: "webp",
  width: 60,
  height: 60,
});
const Mega = await getImage({
  src: "https://raw.githubusercontent.com/algonacci/Free-CDN/main/megalogic.png",
  format: "webp",
  width: 60,
  height: 60,
});
const Bizzagi = await getImage({
  src: "https://raw.githubusercontent.com/algonacci/Free-CDN/main/bizzagi.png",
  format: "webp",
  width: 60,
  height: 60,
});
const HaloTSM = await getImage({
  src: "https://raw.githubusercontent.com/algonacci/Free-CDN/main/halo_tsm.jpg",
  format: "webp",
  width: 60,
  height: 60,
});
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        text: "Daftar Disini",
        href: "https://s.id/DaftarWebsiteUMKM",
        target: "_blank",
      },
    ]}
    image={{ src: "~/assets/images/100WebsiteUMKM Cover Image.png", alt: "100WebsiteUntukUMKM Hero Image" }}
  >
    <Fragment slot="title">
      Sebuah Kampanye <span class="hidden xl:inline dark:text-blue-200">#100WebsiteUntukUMKM</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">#100WebsiteUntukUMKM</span> adalah inisiatif untuk menciptakan 100 website profesional gratis bagi Usaha Mikro, Kecil, dan Menengah (UMKM) demi meningkatkan visibilitas dan kesuksesan bisnis mereka secara
        online.
      </span>
      <br />
      <br />
      <span class="block mb-1 sm:hidden font-bold text-blue-600">#100WebsiteUntukUMKM</span>
       100 website gratis untuk UMKM sukses online!
    </Fragment>
  </Hero>

  <Features
    id="features"
    tagline="Keuntungan"
    title="Apa yang akan Kamu Dapatkan dengan Mendaftar di #100WebsiteUntukUMKM"
    subtitle="Dengan mendaftar di campaign ini, Anda akan mendapatkan berbagai manfaat yang dapat meningkatkan potensi dan kredibilitas bisnis Anda di era digital."
    items={[
      {
        title: "Pengembangan Situs Web Personalized",
        description: "Dapatkan situs web yang disesuaikan sepenuhnya untuk menampilkan penawaran, produk, dan layanan unik dari UMKM Anda.",
      },
      {
        title: "Peningkatan Kehadiran Digital",
        description: "Bangun kehadiran online yang kuat untuk bisnis Anda dengan situs web profesional yang dikembangkan khusus untuk UMKM.",
      },
      {
        title: "Akses Pasar yang Lebih Luas",
        description: "Fasilitasi akses ke pasar yang lebih luas dengan situs web yang dioptimalkan untuk meningkatkan visibilitas dan jangkauan bisnis Anda.",
      },
      {
        title: "Kesadaran Publik yang Meningkat",
        description: "Tingkatkan kesadaran publik tentang produk dan layanan Anda melalui situs web yang menarik dan informatif.",
      },
      {
        title: "Bersaing secara Efektif di Era Digital",
        description: "Aktifkan bisnis Anda untuk bersaing secara efektif dalam lingkungan digital dengan dukungan situs web yang profesional dan responsif.",
      },
      {
        title: "Dukungan Pendaftaran UMKM yang Mudah",
        description: "Dapatkan bantuan dalam proses pendaftaran UMKM untuk memulai perjalanan digital Anda dengan mudah dan lancar.",
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Keunggulan"
    title="Membantu UMKM mendapatkan website gratis dengan mudah dan cepat."
    items={[
      {
        title: "Mudah",
        description: "Tanpa perlu repot, jelaskan bisnis UMKM kamu melalui form pendaftaran dan kami akan segera menghubungi kamu kembali.",
      },
      {
        title: "Cepat",
        description: "Pembuatan websiite UMKM hanya membutuhkan waktu beberapa minggu sehingga hemat waktu bagi pelaku UMKM.",
      },
      {
        title: "Gratis",
        description: "Selain hemat waktu, pembuatan website UMKM juga tidak membutuhkan biaya apapun, semuanya gratis.",
      },
    ]}
    image={{
      src: "https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
      alt: "Colorful Image",
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Timeline Campaign #100WebsiteUntukUMKM"
    items={[
      {
        title: '1 April - 30 April 2024: <span class="font-medium">Registrasi UMKM</span>',
        description:
          "Pendaftaran program ini terbuka untuk UMKM mulai dari tanggal 1 hingga 30 April, yang dapat dilakukan secara online melalui platform yang telah disediakan. Meskipun demikian, penting untuk dicatat bahwa pendaftaran ini akan tetap dibuka apabila kuota masih tersedia.",
        icon: "tabler:forms",
      },
      {
        title: '1 Mei - 31 Mei 2024: <span class="font-medium">Seleksi UMKM</em>',
        description: "Tim seleksi akan meninjau pengajuan yang masuk dari UMKM selama bulan Maret. Kriteria seleksi akan mencakup berbagai aspek seperti keberlanjutan bisnis, potensi pertumbuhan, dan dampak sosial ekonomi.",
        icon: "tabler:select",
      },
      {
        title: '1 Juni - 31 Desember 2024: <span class="font-medium">Pengembangan Website</span>',
        description:
          "Tim pengembangan akan membuat situs web untuk mendukung UMKM terpilih. Proses meliputi desain, konten, dan integrasi fitur relevan. Peluncuran direncanakan pada akhir tahun setelah pengujian dan penyesuaian dari UMKM terpilih.",
        icon: "tabler:rocket",
      },
      {
        title: "Website selesai dirilis!",
        icon: "tabler:check",
      },
    ]}
    image={{
      src: "https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80",
      alt: "Steps image",
    }}
  />

  <!-- Features2 Widget ************** -->
  <Features2
    title="Kerja Sama"
    subtitle="Ada beberapa unit bisnis yang menawarkan berbagai produk dan layanan."
    tagline="Strong"
    items={[
      {
        title: "Braincore",
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: Brainlogic.src,
      },
      {
        title: "Megalogic",
        description: "A typical software house that create application on Frontend, Backend, and Mobile",
        icon: Mega.src,
      },
      {
        title: "Bizzagi",
        description: "A digital marketing agency that handle a various services like advertising, SEO, and content creation",
        icon: Bizzagi.src,
      },
      {
        title: "Halo TSM",
        description: "Komunitas untuk anak IT networking, cari partner, dan kolaborasi bikin portfolio bareng",
        icon: HaloTSM.src,
      },
    ]}
  >
    <span class="absolute w-32 aspect-square -bottom-16 -right-16 bg-primary/10 rounded-full"></span>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: "max-w-6xl" }}
    items={[
      {
        title: "Apa itu #100WebsiteUntukUMKM?",
        description:
          "#100WebsiteUntukUMKM adalah sebuah inisiatif yang menyediakan 100 situs website gratis yang dapat membantu Usaha Mikro, Kecil, dan Menengah (UMKM) terutama dalam hal meningkatkan jangkauan penjualan. Temukan solusi digital terbaik untuk mengembangkan dan memperluas usaha Anda di era digital dengan bergabung bersama #100WebsiteUntukUMKM.",
      },
      {
        title: "Kenapa saya harus punya website?",
        description:
          "Memiliki website adalah langkah penting dalam meningkatkan visibilitas dan mengembangkan bisnis Anda secara online. Dengan memiliki website, Anda dapat meningkatkan visibilitas, menjangkau pelanggan potensial lebih luas, memberikan informasi tentang produk atau layanan Anda, dan memperkuat citra merek Anda. Temukan manfaat lengkap memiliki website untuk bisnis Anda.",
      },
      {
        title: "Bagaimana caranya agar saya bisa terdaftar untuk dibuatkan website?",
        description:
          "Untuk bisa bergabung bersama #100websiteuntukUMKM adalah cukup dengan mengisi form pendaftaran pada link di website ini. Daftar sekarang dan jadilah bagian dari perjalanan digital untuk mengembangkan UMKM Anda dengan memiliki website gratis!",
      },
      {
        title: "Apa keuntungan memiliki website?",
        description:
          "Memiliki website memberikan keuntungan besar bagi bisnis Anda dengan membuka pintu untuk menjangkau pasar yang lebih luas secara online, meningkatkan visibilitas merek, memperluas jangkauan pemasaran, meningkatkan kredibilitas, dan memungkinkan interaksi yang lebih baik dengan pelanggan. Temukan potensi lengkapnya dengan memiliki website gratis untuk bisnis Anda dengan #100WebsiteUntukUMKM.",
      },
      {
        title: "Fitur Apa Saja Yang Di Tawarkan?",
        description: "Dengan bergabung di #100WebsiteUntukUMKM, Anda akan mendapatkan akses ke berbagai fitur yang dirancang khusus untuk mendukung pertumbuhan dan pengembangan Usaha Mikro, Kecil, dan Menengah (UMKM).",
      },
      {
        title: "Apakah Ada Biaya Terkait Pembuatan dan Pemeliharaan Website?",
        description: "Dengan layanan pembuatan website gratis, Anda dapat memulai bisnis online Anda tanpa biaya. Pelajari lebih lanjut tentang biaya terkait pembuatan dan pemeliharaan website di sini.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: "Downloads", amount: "132K" },
      { title: "Stars", amount: "24.8K" },
      { title: "Forks", amount: "10.3K" },
      { title: "Users", amount: "48.4K" },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        text: "Daftar Sekarang",
        href: "https://github.com/onwidget/astrowind",
        target: "_blank",
      },
    ]}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">Tunggu Apa Lagi?</span>
    </Fragment>

    <Fragment slot="subtitle">
      Tingkatkan visibilitas bisnis kamu dengan membuat website gratis di <br class="hidden md:inline" /><strong>#100WebsiteUntukUMKM</strong>
    </Fragment>
  </CallToAction>
</Layout>
